.reviewsContainer {
    display: flex;
    gap: 24px;
  }
  
  .reviewList {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 430px;
  }
  

  
  .reviewHeader {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
  }
  
  .starsContainer {
    display: flex;
    gap: 4px;
    margin-top: 4px;
  }
  
  .reviewImageLetter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    padding: 15px 21px;
    font-size: var(--big-font-size);
    font-weight: var(--font-bold);
    color: var(--color-red);
    background-color: var(--color-main-white);
    border-radius: var(--radius-review-logo);
  }
  
  .reviewerName {
    font-size: var(--small-font-size);
    font-weight: var(--font-bold);
  }
  
